<footer id="footer" class="footer-1 text-light mt-auto py-3 bg-dark">
  <div class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="footer-widget no-box">
            <h5 class="footer-widget-title">Amir Shayan Armaghan<span></span></h5>
            <p>Web & Android Software Engineer</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="footer-widget no-box">
            <h5 class="footer-widget-title">Quick Links<span></span></h5>
            <ul class="thumbnail-footer-widget">
              <li>
                <a href="/projects">Projects</a>
              </li>
              <li>
                <a href="/services">Services</a>
              </li>
              <li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="footer-widget no-box">
            <h5 class="footer-widget-title">Follow Me<span></span></h5>
            <a href="<%- contactInfo.facebook %>" target="_blank" rel="noopener noreferrer"> <i class="fab fa-lg fa-facebook"></i></a>
            <a href="<%- contactInfo.linkedin %>" target="_blank" rel="noopener noreferrer"> <i class="fab fa-lg fa-linkedin"></i></a>
            <a href="<%- contactInfo.instagram %>" target="_blank" rel="noopener noreferrer"> <i class="fab fa-lg fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span>Copyright Amir Shayan Armaghan © <%- new Date().getFullYear() %>. All rights reserved.</span>
          </div>
        </div>
      </div>
    </div>
</footer>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>