<%- include('partials/header',{title : "Home"}); %>
<% include partials/main_nav %>
  <main class="h-100">
    <div class="container h-100">
      <div class="h-100 d-flex flex-column align-items-center bd-highlight p-3 justify-content-center">
        <h3>Hi! Welcome to my development portfolio!</h3>
        <i>"I accept all your job offers, so long as it is not illegal, or you have a very good lawyer!"</i>
        <a href="/about" class="mt-3 btn btn-primary">About Me</a>
      </div>
    </div>
  </main>
<% include partials/footer %>
