<%- include('partials/header',{title : "Login" }); %>
  <% include partials/main_nav %>
    <main>
      <div class="container">
        <div class="row p-5 justify-content-center">
          <div class="col-lg-4 shadow-lg bg-white rounded">
            <div class="p-3">
              <h3>Login</h3>
              <form method="POST" action="/login">
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input type="username" class="form-control" id="username" name="username">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" name="password"></textarea>
                </div>
                <% if (redirectURL) { %>
                  <input type="hidden" name="redirectURL" id="redirectURL" value="<%- redirectURL %>">
                <% } %>  
                <div class="d-flex justify-content-center gap-2 d-block">
                  <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
              </form>
              <br>
              <p>
                New user? Sign up <a href="/signup">here</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <% include partials/footer %>