/*==================== 
  @FILENAME : style.css
  @AUTHOR   : Amir Shayan Armaghan
  @StudendId: 301160315
  @DATE     : 2/10/2021  
====================== */

/*==================== 
  Footer 
====================== */

/* Main Footer */
footer .main-footer{  padding: 20px 0;}
footer ul{  padding-left: 0;  list-style: none;}

/* Copy Right Footer */
.footer-copyright { background: #222; padding: 5px 0;}
.footer-copyright ul {  list-style: none; margin: 0;  padding: 0;}
.footer-copyright ul li { border-left: 1px solid #505050; display: inline-block;  line-height: 12px;  margin: 0;  padding: 0 8px;}
.footer-copyright { color: #969696; margin: 2px 0 0;}

/*==================== 
  Footer Widgets 
====================== */
.footer-widget{  padding: 20px;  margin-bottom: 40px;}
.footer-widget.footer-widget-last{  margin-bottom: 0px;}
.footer-widget.no-box{ padding: 0; background-color: transparent;  margin-bottom: 40px;
  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.footer-widget li a{ color: #fff;}
.footer-widget li a:hover{ color: #aaa;text-decoration: none;}
.footer-widget-title {padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #4d4d4d;}

/*==================== 
  Round Image 
====================== */
.round-image {
  width: 100px;
  height: 100px;
  border: 2px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center
}

/*==================== 
  A link like button 
====================== */

.link-like {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  text-decoration: underline;
  cursor: pointer;
}